@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.contacto-container {
  background-color: #FEF5E1;
  padding: 2rem;
  border-radius: 15px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 600px; /* Limita el ancho del formulario */
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: 'Acme', sans-serif;
  font-size: 3rem;
  color: #2B3015;
  text-align: center;
  margin-bottom: 2rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-label {
  color: #2B3015;
  font-weight: bold;
}

.form-control {
  color: #2B3015;
  border: none;
  border-bottom: 1px solid #2B3015; /* Agrega una línea inferior */
  border-radius: 0;
  background-color: transparent; /* Quita el fondo de los inputs */
  padding: 0.5rem 0; /* Ajusta el espaciado interno */
}

.form-control::placeholder {
  color: #2B3015;
}

textarea.form-control {
  resize: none;
}

.submit-button {
  background-color: #C05A21;
  color: #FEF5E1;
  border: none;
  padding: 0.75rem 3rem; /* Ajusta el tamaño del botón */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem; /* Separación superior del botón */
}

.submit-button:hover {
  background-color: #2B3015;
}


@media (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }
}
